<div class="abstract">
  <div id="page-wrap">
    <!-- Name, Pic, Location -->
    <header class="tc pv3 pv3-ns">
      <img src="<%= assetPath("images/obis-tonl-icon.jpeg") %>" class="br3 h3 w3" alt="avatar">
      <h1 class="f5 f4-ns fw6 black-70">Obinna Nnodim</h1>
      <h2 class="f6 black-70 fw2 ttu tracked">Northern California</h2>
    </header>

    <!-- Sections (Work, About, Contact) -->
    <ul class="nav nav-pills justify-content-center mb3 dn">
      <li class="nav-item">
        <a class="nav-link active" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <!-- Words About me -->
    <div class="tc">
      <div class="words-about center">
        <p>
          Hey my name is Obinna Nnodim, and I love to create.
        </p>
        <p>
          By trade I'm a Designer, Developer, and Engineer. I am a solutions-oriented thinker, always collaborating
          to create outcomes greater than I alone could have envisioned.
        </p>
        <p>
          I have degreee in Computer Engineering from Columbia University and I offer tutoring services for a variety topics
          from Mathematics, to Computer Science, and Electrical Engineering
        </p>
        <p>
          Outside of work, I make beats, cook alkaline vegan delights, and dream relentlessly.
        </p>
        <p>
          I am always looking to learn from my environment, nature, and my peers around me who inspire me.
        </p>
      </div>
    </div>

    <!-- <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
      quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
      Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget
      tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis
      pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu
      vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
      luctus, metus</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
      quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
      Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget
      tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis
      pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu
      vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
      luctus, metus</p> -->
      <footer class="pv4 ph3 ph5-ns tc">
        <a class="link hover-silver near-black dib h2 w2 mr3" href="https://www.linkedin.com/in/samuel-nnodim-496639b2/" LinkedIn">
          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd"
            stroke-linejoin="round" stroke-miterlimit="1.414">
            <path d="M13.632 13.635h-2.37V9.922c0-.886-.018-2.025-1.234-2.025-1.235 0-1.424.964-1.424 1.96v3.778h-2.37V6H8.51V7.04h.03c.318-.6 1.092-1.233 2.247-1.233 2.4 0 2.845 1.58 2.845 3.637v4.188zM3.558 4.955c-.762 0-1.376-.617-1.376-1.377 0-.758.614-1.375 1.376-1.375.76 0 1.376.617 1.376 1.375 0 .76-.617 1.377-1.376 1.377zm1.188 8.68H2.37V6h2.376v7.635zM14.816 0H1.18C.528 0 0 .516 0 1.153v13.694C0 15.484.528 16 1.18 16h13.635c.652 0 1.185-.516 1.185-1.153V1.153C16 .516 15.467 0 14.815 0z"
              fill-rule="nonzero" /></svg>
        </a>
        <a class="link near-black hover-silver dib h2 w2 mr3" href="https://github.com/obiknows" title="GitHub">
          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd"
            stroke-linejoin="round" stroke-miterlimit="1.414">
            <path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.083-.202-.358-1.015.077-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.364.092 2.003.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.246.543.735.543 1.48 0 1.07-.01 1.933-.01 2.195 0 .215.144.463.55.385C13.71 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8" /></svg>
        </a>
        <a class="link near-black hover-silver dib h2 w2 mr3" href="https://gitlab.com/obiknows" title="Gitlab">
          <svg aria-labelledby="simpleicons-gitlab-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title id="simpleicons-gitlab-icon">GitLab icon</title>
            <path d="M23.955 13.587l-1.342-4.135-2.664-8.189c-.135-.423-.73-.423-.867 0L16.418 9.45H7.582L4.919 1.263C4.783.84 4.185.84 4.05 1.26L1.386 9.449.044 13.587c-.121.375.014.789.331 1.023L12 23.054l11.625-8.443c.318-.235.453-.647.33-1.024" />
          </svg>
        </a>
        
      </footer>
  </div>
</div>

