<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <video autoplay loop class="fillWidth">
      <source src="<%= assetPath("videos/Keep_Running.mp4") %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade
      your browser.
      <source src="<%= assetPath("videos/Keep_Running.webm") %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade
      your browser.
    </video>
    <div class="poster dn">
      <img src="<%= assetPath("images/Keep_Running.jpg") %>" alt="">
    </div>
  </div>
</div>