<!-- <div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    
    <div class="col">
      <div class="row">
        <div class="paper bg-white"></div>
      </div>
    </div>

    <video autoplay loop class="fillWidth">
      <source src="<%= assetPath("videos/Keep_Running.mp4") %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade
      your browser.
      <source src="<%= assetPath("videos/Keep_Running.webm") %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade
      your browser.
    </video>
    <div class="poster dn">
      <img src="<%= assetPath("images/Keep_Running.jpg") %>" alt="">
    </div>
  </div>
</div> -->

<div class="col ">
  <div class="row ">
    <div class="paper center my-auto bg-white"></div>
  </div>
</div>

<video autoplay muted loop id="myVideo">
  <source src="<%= assetPath("videos/Keep_Running.mp4") %>" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
